.feed{
    width: 100%;
    background-color: #eee ; 
    height: calc(100vh - 10rem);
    display: flex;
}

.centerSection{
    padding: 2rem;
    flex-grow: 2;
    flex-shrink: 2;
}

.rightSection{
    flex-basis: 40rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: red;
}