.feed{
    width: calc(100% - 35rem);
    background-color: #eee ; 
    min-height: calc(100vh - 10rem);
    display: flex;
    padding: 2rem;
    gap: 2rem;
}

.centerSection{
    flex: 5;
}

.rightSection{
    flex: 2;
}