.chat-sidebar{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px){
    .chat-sidebar{
        flex-direction: row;
        gap: 2rem;
    }
}

@media (max-width: 450px){
    .chat-sidebar{
        gap: 1rem;
    }
}