.mainSection{
    display: flex;
    min-height: calc(100vh - 10rem);
}

.leftSection{
    flex: 2;
}

.rightSection{
    flex: 10;
}

@media (max-width: 1400px){
    .mainSection{
        flex-direction: column;
    }
    .leftSection{
        flex: 0;
    }
    .rightSection{
        flex: 1 1 20rem;
    }
}

@media (max-width: 450px){
    .mainSection{
        min-height: calc(100vh - 7.5rem);
    }
}