.mainSection{
    display: flex;
}

.leftSection{
    flex: 2;
    align-self: flex-start;
}

.rightSection{
    flex: 10;
}

.disable-scroll{
    overflow-y: hidden !important; 
}

@media (max-width: 1400px){
    .mainSection{
        flex-direction: column;
    }
    .leftSection{
        flex: 0;
    }
    .rightSection{
        flex: 1 1 20rem;
    }
    .disable-scroll{
        flex: 0 !important;
    }
}

@media (max-width: 450px){
    .mainSection{
        min-height: calc(100vh - 7.5rem);
    }
}